<header class="header fixed bg-white/80 w-full flex justify-end items-center top-12 right-96 rounded-3xl shadow-2xl">
  <div class="container flex items-center justify-end">
    <a href="/" class="logo">
      <img ngSrc="assets/LogoImg.png" class="fixed top-5 left-0" height="160" width="160">
    </a>
    <nav class="m-7 ">
      <ul class="flex">
        <li><a class="block ml-7 mr-7 p-4 hover:bg-amber-500 ease-linear duration-500 rounded-2xl" href="#inicio">Início</a></li>
        <li><a class="block ml-7 mr-7 p-4 hover:bg-amber-500 ease-linear duration-500 rounded-2xl" href="#procurados">Mais Procurados</a></li>
        <li><a class="block ml-7 mr-7 p-4 hover:bg-amber-500 ease-linear duration-500 rounded-2xl" href="#categorias">Categorias</a></li>
        <li><a class="block ml-7 mr-7 p-4 hover:bg-amber-500 ease-linear duration-500 rounded-2xl" href="#sobre">Sobre</a></li>
      </ul>
    </nav>
  </div>
</header>
