<section id="inicio" class="bg-gray-100 h-screen w-full mb-0 ">
  <div class="bubble">
    <img ngSrc="assets/Ellipse%201.svg" alt="" class="hidden sm:block sm:absolute -right-10 z-0 -top-72" height="834" width="789">
    <img ngSrc="assets/Ellipse%201.svg" alt="" class="hidden sm:block sm:absolute -left-52 z-0 -bottom-6 rotate-180" height="834" width="650">
  </div>

  <div style="height: 600px; width:1080px" class="relative rounded-[100px] bg-white z-30 top-52 shadow-2xl flex mx-auto">
    <img ngSrc="assets/mojito.svg" alt="" class=" absolute -left-10 bottom-0" height="489" width="309">
    <img ngSrc="assets/chapagne.svg" alt="" class="absolute right-96 bottom-0" height="676" width="304">
    <img ngSrc="assets/wine.svg" alt="" class="absolute -right-7 bottom-0" height="419" width="270">
<!--    <h2 class="p-5 flex flex-col absolute right-10 top-10 text-2xl">Compare, economize!-->
<!--      <span class="bg-cyan-500 p-5 text-lg text-white">Encontre sua bebida mais próxima, e mais barata</span>-->
<!--    </h2>-->
    <h2 class="p-5 flex ml-7 flex-col absolute right-32 top-10 text-4xl text-right poppins-regular">Compare, economize!
      <span class="bg-cyan-500 ml-7 p-3 text-white text-center kite-one-regular">Encontre sua bebida mais próxima, e mais barata</span>
    </h2>
  </div>

</section>
