<section id="inicio" class="bg-gray-100 h-screen w-full mb-0">
  <div class="bubble">
    <img ngSrc="assets/Ellipse%201.svg" alt="" class="absolute right-0 z-0 top-0 " height="840" width="840">
    <img ngSrc="assets/Ellipse%201.svg" alt="" class="absolute left-0 z-0 bottom-0 rotate-180" height="705" width="705">
  </div>

  <div class="bg-white">
    <div class="h-screen w-9/12 relative bg-black">
      <img ngSrc="assets/Mojito.png" alt="" class="absolute left-0 z-0 top-0 " height="100" width="300">
      <img ngSrc="assets/Champanhe.png" alt="" class="absolute z-0 top-0 " height="200" width="400">
      <img ngSrc="assets/vinho2.svg" alt="" class="absolute right-0 z-0 top-0" height="414" width="425">
    </div>
  </div>

</section>
