<section id="sobre"
         class="h-screen flex items-center justify-center w-screen">
  <video aria-hidden="true" muted=""
         class="absolute z-10 w-auto min-w-full min-h-full max-w-none"
         autoplay="" loop="" playsinline="">
    <source
      src="assets/Shot%20of%20Pouring%20Whiskey%20into%20Glass%20with%20Ice%20Cubes.mp4"
      type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="bg-white/70 relative rounded-3xl flex items-center justify-center overflow-hidden z-10 poppins-medium">
    <div
      class="relative mx-auto h-full px-4  pb-20 md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
      <div class="flex flex-col items-center justify-between lg:flex-row py-16">
        <div class=" relative ">
          <div class="lg:max-w-xl lg:pr-5 relative z-40">
            <h2
              class="mb-6 max-w-lg text-5xl font-light leading-snug tracking-tight text-g1 sm:text-7xl sm:leading-snug">
              Sobre nós
            </h2>
            <div class="">
              <p class="p-2">Bem-vindo ao nosso site, onde você pode encontrar as bebidas alcoólicas mais baratas em sua
                região!
                Sabemos que encontrar boas
                ofertas pode ser uma tarefa difícil, mas estamos aqui para ajudá-lo.</p>
              <p class="p-2">Em nosso site, você pode pesquisar
                e comparar preços de diferentes bebidas alcoólicas em bares, restaurantes e lojas próximos a sua
                localização. Isso significa que você pode economizar dinheiro em suas bebidas favoritas sem
                precisar
                percorrer a cidade em busca das melhores ofertas.</p>
              <p class="p-2">No entanto, é importante lembrar que o consumo de bebidas alcoólicas deve ser feito de forma
                responsável.
                Sempre beba com moderação e sempre com um motorista designado, se você estiver dirigindo. Esteja
                ciente
                das leis e regulamentos locais em relação ao consumo de bebidas alcoólicas e siga sempre as
                orientações
                dos profissionais de saúde.</p>
              <p class="p-2">Estamos comprometidos em fornecer informações precisas e atualizadas em nosso site, ajudando-o a
                encontrar as melhores ofertas de bebidas alcoólicas e a aproveitar seus momentos de lazer de
                maneira
                responsável. Obrigado por usar nosso site e esperamos que você aproveite ao máximo as
                informações
                que
                oferecemos!</p>
            </div>
          </div>
        </div>
        <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
          <div class="abg-orange-400 mx-auto w-fit overflow-hidden rounded-[6rem] rounded-br-none rounded-tl-none">
            <img ngSrc="assets/logoSobre2.svg" height="460" width="460">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
